In [1]:
import tensorflow as tf
import pandas as pd
import keras as keras
import numpy as np

%matplotlib inline

/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
Using TensorFlow backend.

In [2]:
DATA_DIR = "../../data/bigmart/"
train_df = pd.read_csv(DATA_DIR + "train.csv")
test_df = pd.read_csv(DATA_DIR + "test.csv")

In [3]:
combi_df = train_df.append(test_df, ignore_index=True, sort=False)

In [4]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Explore Data

In [5]:
combi_df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [6]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
combi_df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [8]:
combi_df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:
combi_df["Item_Weight"].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19       False
20       False
21        True
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29        True
         ...
14174    False
14175    False
14176    False
14177    False
14178     True
14179     True
14180    False
14181    False
14182    False
14183    False
14184     True
14185    False
14186    False
14187    False
14188     True
14189    False
14190    False
14191    False
14192     True
14193    False
14194    False
14195    False
14196    False
14197    False
14198    False
14199    False
14200    False
14201    False
14202    False
14203    False
Name: Item_Weight, Length: 14204, dtype: bool

In [10]:
combi_df['Item_Identifier'].unique().shape

(1559,)

In [11]:
combi_df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [12]:
combi_df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [13]:
combi_df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [14]:
combi_df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [15]:
combi_df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [16]:
combi_df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

# Do basic cleanup

In [17]:
ifc_dict = { "low fat": "Low Fat", "LF": "Low Fat", "reg": "Regular" }
combi_df['Item_Fat_Content_Fixed'] = combi_df['Item_Fat_Content'].apply(lambda x: ifc_dict.get(x, x))
combi_df['Item_Fat_Content_Fixed'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [18]:
ifc_dict = { "low fat": "Low Fat", "LF": "Low Fat", "reg": "Regular" }
combi_df['Outlet_Size_Fixed'] = combi_df['Outlet_Size'].apply(lambda x: x if not pd.isna(x) else "Unknown" )
combi_df['Outlet_Size_Fixed'].unique()

array(['Medium', 'Unknown', 'High', 'Small'], dtype=object)

In [19]:
min_year = combi_df['Outlet_Establishment_Year'].min()
combi_df['Outlet_Establisted_Years'] = combi_df['Outlet_Establishment_Year'].apply(lambda x: x - min_year)

In [20]:
combi_df['Item_Weight'] = combi_df['Item_Weight'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Item_Visibility'] = combi_df['Item_Visibility'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Item_MRP'] = combi_df['Item_MRP'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Outlet_Establisted_Years'] = combi_df['Outlet_Establisted_Years'].apply(lambda x: 0 if pd.isna(x) else x )

In [21]:
# combi_df.head()

# Preprocessing with labels

In [22]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(combi_df['Item_Fat_Content_Fixed'])

print(le.classes_)

combi_df['Item_Fat_Content_Fixed'] = le.transform(combi_df['Item_Fat_Content_Fixed'])

['Low Fat' 'Regular']

/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [23]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Item_Type'])

print(le.classes_)

combi_df['Item_Type'] = le.transform(combi_df['Item_Type'])

['Baking Goods' 'Breads' 'Breakfast' 'Canned' 'Dairy' 'Frozen Foods'
 'Fruits and Vegetables' 'Hard Drinks' 'Health and Hygiene' 'Household'
 'Meat' 'Others' 'Seafood' 'Snack Foods' 'Soft Drinks' 'Starchy Foods']

In [24]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Identifier'])

print(le.classes_)

combi_df['Outlet_Identifier'] = le.transform(combi_df['Outlet_Identifier'])

['OUT010' 'OUT013' 'OUT017' 'OUT018' 'OUT019' 'OUT027' 'OUT035' 'OUT045'
 'OUT046' 'OUT049']

In [25]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Size_Fixed'])

print(le.classes_)

combi_df['Outlet_Size_Fixed'] = le.transform(combi_df['Outlet_Size_Fixed'])

['High' 'Medium' 'Small' 'Unknown']

In [26]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Location_Type'])

print(le.classes_)

combi_df['Outlet_Location_Type'] = le.transform(combi_df['Outlet_Location_Type'])

['Tier 1' 'Tier 2' 'Tier 3']

In [27]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Type'])

print(le.classes_)

combi_df['Outlet_Type'] = le.transform(combi_df['Outlet_Type'])

['Grocery Store' 'Supermarket Type1' 'Supermarket Type2'
 'Supermarket Type3']

In [28]:
le = preprocessing.LabelEncoder()
combi_df['Item_Identifier_Label'] = le.fit_transform(combi_df['Item_Identifier'])

In [29]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Fat_Content_Fixed,Outlet_Size_Fixed,Outlet_Establisted_Years,Item_Identifier_Label
0,FDA15,9.30,Low Fat,0.016047,4,249.8092,9,1999,Medium,0,1,3735.1380,0,1,14,156
1,DRC01,5.92,Regular,0.019278,14,48.2692,3,2009,Medium,2,2,443.4228,1,1,24,8
2,FDN15,17.50,Low Fat,0.016760,10,141.6180,9,1999,Medium,0,1,2097.2700,0,1,14,662
3,FDX07,19.20,Regular,0.000000,6,182.0950,0,1998,NaN,2,0,732.3800,1,3,13,1121
4,NCD19,8.93,Low Fat,0.000000,9,53.8614,1,1987,High,2,1,994.7052,0,0,2,1297

# One hot encode

In [30]:
from scipy import sparse
hot_encoded = None

In [31]:
hot_encoded = np.array(combi_df['Item_Fat_Content_Fixed']).reshape(len(combi_df), 1)

In [32]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Item_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 17)

In [33]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Size_Fixed']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 21)

In [34]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Location_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 24)

In [35]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 28)

In [36]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Identifier']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 38)

# Embedding layer

In [56]:
# TODO: Add later
from keras.models import *
from keras.layers import *

num_items = len(combi_df["Item_Identifier"].unique()) + 1
EMBEDDING_DIM = 5



# TODO: Try later
# model = Sequential()
# model.add(Embedding(num_items, EMBEDDING_DIM, input_length=1))
# model.add(Flatten())
# model.add(Concatenate())
# model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_16 (Embedding)     (None, 1, 5)              7800
_________________________________________________________________
flatten_3 (Flatten)          (None, 5)                 0
=================================================================
Total params: 7,800
Trainable params: 7,800
Non-trainable params: 0
_________________________________________________________________

In [287]:
# len(combi_df["Item_Identifier"].unique())

# Prepare full data

In [199]:
combi_X = np.column_stack((combi_df["Item_Weight"], combi_df["Item_Visibility"],
                          combi_df["Item_MRP"], combi_df["Outlet_Establisted_Years"],
                          hot_encoded.toarray()))
combi_X.shape

(14204, 42)

In [200]:
train_X = combi_X[:len(train_df),:]
train_X.shape

(8523, 42)

In [201]:
test_X = combi_X[len(train_df):,:]
test_X.shape

(5681, 42)

In [202]:
len(test_df)

5681

In [203]:
train_Y = np.array(train_df["Item_Outlet_Sales"]).reshape(train_X.shape[0], 1)
train_Y.shape

(8523, 1)

# Create Model

In [290]:
from keras.models import Sequential
from keras.layers import Dense, Activation, BatchNormalization, Dropout, Input, Concatenate

model = Sequential()
# model.add(BatchNormalization(input_shape=(42,)))

other_input = Input(shape=(42, ))

model.add(Concatenate([other_input, item_id_embedding_layer]))

model.add(Dense(128, input_dim=42))
model.add(Activation('relu'))
model.add(BatchNormalization())

model.add(Dense(128))
model.add(Activation('relu'))
model.add(Dropout(0.5))
# model.add(BatchNormalization())

# model.add(Dense(128))
# model.add(Activation('relu'))
# model.add(Dropout(0.5))
# model.add(BatchNormalization())

# model.add(Dense(64))
# model.add(Activation('relu'))
# model.add(Dropout(0.5))
# model.add(BatchNormalization())

# model.add(Dense(42, input_dim=42, activation='relu'))

model.add(Dense(1))

model.summary()

ValueError: This model has never been called, thus its weights have not yet been created, so no summary can be displayed. Build the model first (e.g. by calling it on some test data).

In [275]:
model.compile(optimizer='nadam', loss='mse')

In [276]:
model.fit(train_X, train_Y, validation_split=0.1, epochs=50)

Train on 7670 samples, validate on 853 samples
Epoch 1/50
7670/7670 [==============================] - 2s 234us/step - loss: 4695521.7098 - val_loss: 3911741.7884
Epoch 2/50
7670/7670 [==============================] - 1s 119us/step - loss: 1414997.4317 - val_loss: 1927722.5094
Epoch 3/50
7670/7670 [==============================] - 1s 106us/step - loss: 1391083.8011 - val_loss: 1315655.1112
Epoch 4/50
7670/7670 [==============================] - 1s 103us/step - loss: 1377540.2200 - val_loss: 1339108.4077
Epoch 5/50
7670/7670 [==============================] - 1s 106us/step - loss: 1362293.5770 - val_loss: 1903855.0114
Epoch 6/50
7670/7670 [==============================] - 1s 104us/step - loss: 1344847.4298 - val_loss: 1340308.3224
Epoch 7/50
7670/7670 [==============================] - 1s 103us/step - loss: 1363434.0965 - val_loss: 1351922.3958
Epoch 8/50
7670/7670 [==============================] - 1s 103us/step - loss: 1354119.3107 - val_loss: 1267932.1964
Epoch 9/50
7670/7670 [==============================] - 1s 103us/step - loss: 1377273.4120 - val_loss: 1581879.1593
Epoch 10/50
7670/7670 [==============================] - 1s 104us/step - loss: 1364579.4293 - val_loss: 1277173.4232
Epoch 11/50
7670/7670 [==============================] - 1s 102us/step - loss: 1335526.4042 - val_loss: 1230020.9859
Epoch 12/50
7670/7670 [==============================] - 1s 105us/step - loss: 1347928.8237 - val_loss: 1215586.0177
Epoch 13/50
7670/7670 [==============================] - 1s 103us/step - loss: 1355605.5904 - val_loss: 1225801.8255
Epoch 14/50
7670/7670 [==============================] - 1s 107us/step - loss: 1328920.0713 - val_loss: 1298219.4049
Epoch 15/50
7670/7670 [==============================] - 1s 110us/step - loss: 1323704.7441 - val_loss: 1229309.4176
Epoch 16/50
7670/7670 [==============================] - 1s 119us/step - loss: 1329960.3291 - val_loss: 1229787.9610
Epoch 17/50
7670/7670 [==============================] - 1s 126us/step - loss: 1364550.9174 - val_loss: 1236533.0409
Epoch 18/50
7670/7670 [==============================] - 1s 125us/step - loss: 1332874.9161 - val_loss: 1237609.1105
Epoch 19/50
7670/7670 [==============================] - 1s 113us/step - loss: 1367301.8429 - val_loss: 1656317.5977
Epoch 20/50
7670/7670 [==============================] - 1s 104us/step - loss: 1330626.8341 - val_loss: 1233450.5881
Epoch 21/50
7670/7670 [==============================] - 1s 111us/step - loss: 1319245.3789 - val_loss: 1267096.4209
Epoch 22/50
7670/7670 [==============================] - 1s 103us/step - loss: 1326132.0797 - val_loss: 1297152.8278
Epoch 23/50
7670/7670 [==============================] - 1s 104us/step - loss: 1311539.9709 - val_loss: 1369457.0576
Epoch 24/50
7670/7670 [==============================] - 1s 106us/step - loss: 1324593.2342 - val_loss: 1238072.2005
Epoch 25/50
7670/7670 [==============================] - 1s 115us/step - loss: 1324110.9181 - val_loss: 1216931.0533
Epoch 26/50
7670/7670 [==============================] - 1s 106us/step - loss: 1317850.1968 - val_loss: 1324293.8546
Epoch 27/50
7670/7670 [==============================] - 1s 103us/step - loss: 1313653.4520 - val_loss: 1268130.5717
Epoch 28/50
7670/7670 [==============================] - 1s 106us/step - loss: 1332577.5711 - val_loss: 1240246.0133
Epoch 29/50
7670/7670 [==============================] - 1s 113us/step - loss: 1326356.8027 - val_loss: 1216307.0372
Epoch 30/50
7670/7670 [==============================] - 1s 127us/step - loss: 1322586.0485 - val_loss: 1256073.1546
Epoch 31/50
7670/7670 [==============================] - 1s 127us/step - loss: 1297830.1439 - val_loss: 1338201.8705
Epoch 32/50
7670/7670 [==============================] - 1s 125us/step - loss: 1316273.4474 - val_loss: 1202240.9491
Epoch 33/50
7670/7670 [==============================] - 1s 127us/step - loss: 1317650.3924 - val_loss: 1244667.5368
Epoch 34/50
7670/7670 [==============================] - 1s 134us/step - loss: 1324722.1128 - val_loss: 1213474.0280
Epoch 35/50
7670/7670 [==============================] - 1s 106us/step - loss: 1304223.4695 - val_loss: 1204732.2598
Epoch 36/50
7670/7670 [==============================] - 1s 111us/step - loss: 1303594.0590 - val_loss: 1202304.0221
Epoch 37/50
7670/7670 [==============================] - 1s 119us/step - loss: 1307694.2746 - val_loss: 1211667.3899
Epoch 38/50
7670/7670 [==============================] - 1s 140us/step - loss: 1328286.6736 - val_loss: 1216001.1581
Epoch 39/50
7670/7670 [==============================] - 1s 126us/step - loss: 1327539.3728 - val_loss: 1212242.1514
Epoch 40/50
7670/7670 [==============================] - 1s 106us/step - loss: 1306427.8037 - val_loss: 1291638.9157
Epoch 41/50
7670/7670 [==============================] - 1s 132us/step - loss: 1304845.1063 - val_loss: 1201299.4774
Epoch 42/50
7670/7670 [==============================] - 1s 128us/step - loss: 1297350.7799 - val_loss: 1203847.9405
Epoch 43/50
7670/7670 [==============================] - 1s 108us/step - loss: 1291924.0422 - val_loss: 1200870.2556
Epoch 44/50
7670/7670 [==============================] - 1s 117us/step - loss: 1312881.2119 - val_loss: 1265097.0558
Epoch 45/50
7670/7670 [==============================] - 1s 104us/step - loss: 1299617.8027 - val_loss: 1212287.7501
Epoch 46/50
7670/7670 [==============================] - 1s 122us/step - loss: 1309204.5511 - val_loss: 1418347.3346
Epoch 47/50
7670/7670 [==============================] - 1s 123us/step - loss: 1298511.4137 - val_loss: 1249828.4427
Epoch 48/50
7670/7670 [==============================] - 1s 127us/step - loss: 1327131.3667 - val_loss: 1701551.8206
Epoch 49/50
7670/7670 [==============================] - 1s 125us/step - loss: 1314187.1031 - val_loss: 1226568.6070
Epoch 50/50
7670/7670 [==============================] - 1s 106us/step - loss: 1307091.3866 - val_loss: 1226553.3134

In [277]:
model.fit(train_X, train_Y, validation_split=0, epochs=50)

Epoch 1/50
8523/8523 [==============================] - 1s 101us/step - loss: 1312266.6853
Epoch 2/50
8523/8523 [==============================] - 1s 102us/step - loss: 1306229.6719
Epoch 3/50
8523/8523 [==============================] - 1s 104us/step - loss: 1324665.9473
Epoch 4/50
8523/8523 [==============================] - 1s 98us/step - loss: 1299183.2484
Epoch 5/50
8523/8523 [==============================] - 1s 98us/step - loss: 1310398.4963
Epoch 6/50
8523/8523 [==============================] - 1s 101us/step - loss: 1307565.6453
Epoch 7/50
8523/8523 [==============================] - 1s 102us/step - loss: 1299651.6470
Epoch 8/50
8523/8523 [==============================] - 1s 101us/step - loss: 1283843.7364
Epoch 9/50
8523/8523 [==============================] - 1s 98us/step - loss: 1310069.7690
Epoch 10/50
8523/8523 [==============================] - 1s 100us/step - loss: 1309672.8291
Epoch 11/50
8523/8523 [==============================] - 1s 101us/step - loss: 1316258.4140
Epoch 12/50
8523/8523 [==============================] - 1s 99us/step - loss: 1308695.1640
Epoch 13/50
8523/8523 [==============================] - 1s 107us/step - loss: 1281344.9334
Epoch 14/50
8523/8523 [==============================] - 1s 101us/step - loss: 1327196.1797
Epoch 15/50
8523/8523 [==============================] - 1s 101us/step - loss: 1300769.5613
Epoch 16/50
8523/8523 [==============================] - 1s 107us/step - loss: 1297477.6012
Epoch 17/50
8523/8523 [==============================] - 1s 120us/step - loss: 1295081.9955
Epoch 18/50
8523/8523 [==============================] - 1s 122us/step - loss: 1303379.7956
Epoch 19/50
8523/8523 [==============================] - 1s 109us/step - loss: 1303220.4908
Epoch 20/50
8523/8523 [==============================] - 1s 115us/step - loss: 1310657.9888
Epoch 21/50
8523/8523 [==============================] - 1s 103us/step - loss: 1313511.8768
Epoch 22/50
8523/8523 [==============================] - 1s 120us/step - loss: 1325909.7161
Epoch 23/50
8523/8523 [==============================] - 1s 120us/step - loss: 1290632.3799
Epoch 24/50
8523/8523 [==============================] - 1s 107us/step - loss: 1311587.3027
Epoch 25/50
8523/8523 [==============================] - 1s 105us/step - loss: 1308280.9030
Epoch 26/50
8523/8523 [==============================] - 1s 101us/step - loss: 1316473.0162
Epoch 27/50
8523/8523 [==============================] - 1s 117us/step - loss: 1308229.1369
Epoch 28/50
8523/8523 [==============================] - 1s 121us/step - loss: 1326472.6466
Epoch 29/50
8523/8523 [==============================] - 1s 130us/step - loss: 1315919.5956
Epoch 30/50
8523/8523 [==============================] - 1s 107us/step - loss: 1302754.8884
Epoch 31/50
8523/8523 [==============================] - 1s 104us/step - loss: 1305884.7806
Epoch 32/50
8523/8523 [==============================] - 1s 115us/step - loss: 1302109.8414
Epoch 33/50
8523/8523 [==============================] - 1s 126us/step - loss: 1296262.2251
Epoch 34/50
8523/8523 [==============================] - 1s 124us/step - loss: 1341962.4208
Epoch 35/50
8523/8523 [==============================] - 1s 116us/step - loss: 1302294.8755
Epoch 36/50
8523/8523 [==============================] - 1s 125us/step - loss: 1308369.0513
Epoch 37/50
8523/8523 [==============================] - 1s 126us/step - loss: 1274535.5947
Epoch 38/50
8523/8523 [==============================] - 1s 109us/step - loss: 1290413.9271
Epoch 39/50
8523/8523 [==============================] - 1s 124us/step - loss: 1337537.2735
Epoch 40/50
8523/8523 [==============================] - 1s 124us/step - loss: 1310736.5565
Epoch 41/50
8523/8523 [==============================] - 1s 110us/step - loss: 1315751.2921
Epoch 42/50
8523/8523 [==============================] - 1s 118us/step - loss: 1308462.8874
Epoch 43/50
8523/8523 [==============================] - 1s 123us/step - loss: 1304867.9284
Epoch 44/50
8523/8523 [==============================] - 1s 109us/step - loss: 1301900.7838
Epoch 45/50
8523/8523 [==============================] - 1s 113us/step - loss: 1281704.6386
Epoch 46/50
8523/8523 [==============================] - 1s 123us/step - loss: 1303528.3234
Epoch 47/50
8523/8523 [==============================] - 1s 128us/step - loss: 1306209.6088
Epoch 48/50
8523/8523 [==============================] - 1s 133us/step - loss: 1309007.6069
Epoch 49/50
8523/8523 [==============================] - 1s 130us/step - loss: 1309094.8980
Epoch 50/50
8523/8523 [==============================] - 1s 119us/step - loss: 1329935.7750

In [268]:
model.evaluate(train_X, train_Y)

8523/8523 [==============================] - 0s 25us/step

1143607.4883880382

In [269]:
model.get_weights()[0]

array([[-0.12640417, -0.02542421, -0.0368169 , ...,  0.09164684,
        -0.24264479, -0.18613203],
       [-1.4700042 , -0.06581265,  0.07626545, ..., -0.9983824 ,
        -1.6026614 ,  0.14570403],
       [-0.01285062, -0.18067124, -0.07765228, ...,  0.24970275,
        -0.00334364, -0.18349788],
       ...,
       [ 0.04733146,  0.11824605,  0.15286443, ...,  0.21742995,
        -0.37457192,  0.10678506],
       [ 1.3654072 ,  0.00352971,  0.01851389, ...,  1.6180304 ,
         1.1358696 ,  0.14974916],
       [ 0.14784071,  0.01885547,  0.1673291 , ...,  0.03642788,
         0.08399075,  0.12856936]], dtype=float32)

In [270]:
test_Y = model.predict(test_X)

In [271]:
test_df["Item_Outlet_Sales"] = test_Y
test_Y.shape

(5681, 1)

In [272]:
test_Y[:10]

array([[1761.5474 ],
       [1429.8042 ],
       [ 619.59625],
       [2569.0645 ],
       [5744.763  ],
       [1874.4058 ],
       [ 626.82306],
       [2044.6731 ],
       [1459.6941 ],
       [3082.71   ]], dtype=float32)

In [273]:
submission = test_df[['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales']]
submission.to_csv('submission.csv', index=False) # writing data to a CSV file