In [2]:
import tensorflow as tf
import keras as keras
from keras.layers import *
from keras.models import *

import pandas as pd
import cv2

In [3]:
train_df = pd.read_csv("../../data/actor_age/train/train.csv")

In [4]:
train_df.dtypes

ID       object
Class    object
dtype: object

In [7]:
train_df = train_df.iloc[:10]
train_df

          ID   Class
0    377.jpg  MIDDLE
1  17814.jpg   YOUNG
2  21283.jpg  MIDDLE
3  16496.jpg   YOUNG
4   4487.jpg  MIDDLE
5   6283.jpg  MIDDLE
6  23495.jpg   YOUNG
7   7100.jpg   YOUNG
8   6028.jpg   YOUNG
9  22617.jpg     OLD

In [12]:
def get_im(img_id):
    # Load as grayscale
    img = cv2.imread('../../data/actor_age/train/Train/' + img_id, 0)
    # Reduce size
    resized = cv2.resize(img, (128, 96))
    return resized

print()


get_im(path)

../../data/actor_age/train/Train/377.jpg