In [1]:
import tensorflow as tf
import pandas as pd
import keras as keras
import numpy as np

%matplotlib inline

/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
Using TensorFlow backend.

In [2]:
DATA_DIR = "../../data/bigmart/"
train_df = pd.read_csv(DATA_DIR + "train.csv")
test_df = pd.read_csv(DATA_DIR + "test.csv")

In [3]:
combi_df = train_df.append(test_df, ignore_index=True, sort=False)

In [4]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Explore Data

In [5]:
combi_df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [6]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
combi_df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [8]:
combi_df.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [9]:
combi_df["Item_Weight"].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7         True
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18        True
19       False
20       False
21        True
22       False
23        True
24       False
25       False
26       False
27       False
28       False
29        True
         ...
14174    False
14175    False
14176    False
14177    False
14178     True
14179     True
14180    False
14181    False
14182    False
14183    False
14184     True
14185    False
14186    False
14187    False
14188     True
14189    False
14190    False
14191    False
14192     True
14193    False
14194    False
14195    False
14196    False
14197    False
14198    False
14199    False
14200    False
14201    False
14202    False
14203    False
Name: Item_Weight, Length: 14204, dtype: bool

In [10]:
combi_df['Item_Identifier'].unique().shape

(1559,)

In [11]:
combi_df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [12]:
combi_df['Item_Type'].unique()

array(['Dairy', 'Soft Drinks', 'Meat', 'Fruits and Vegetables',
       'Household', 'Baking Goods', 'Snack Foods', 'Frozen Foods',
       'Breakfast', 'Health and Hygiene', 'Hard Drinks', 'Canned',
       'Breads', 'Starchy Foods', 'Others', 'Seafood'], dtype=object)

In [13]:
combi_df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [14]:
combi_df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [15]:
combi_df['Outlet_Location_Type'].unique()

array(['Tier 1', 'Tier 3', 'Tier 2'], dtype=object)

In [16]:
combi_df['Outlet_Type'].unique()

array(['Supermarket Type1', 'Supermarket Type2', 'Grocery Store',
       'Supermarket Type3'], dtype=object)

# Do basic cleanup

In [17]:
ifc_dict = { "low fat": "Low Fat", "LF": "Low Fat", "reg": "Regular" }
combi_df['Item_Fat_Content_Fixed'] = combi_df['Item_Fat_Content'].apply(lambda x: ifc_dict.get(x, x))
combi_df['Item_Fat_Content_Fixed'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [18]:
ifc_dict = { "low fat": "Low Fat", "LF": "Low Fat", "reg": "Regular" }
combi_df['Outlet_Size_Fixed'] = combi_df['Outlet_Size'].apply(lambda x: x if not pd.isna(x) else "Unknown" )
combi_df['Outlet_Size_Fixed'].unique()

array(['Medium', 'Unknown', 'High', 'Small'], dtype=object)

In [19]:
min_year = combi_df['Outlet_Establishment_Year'].min()
combi_df['Outlet_Establisted_Years'] = combi_df['Outlet_Establishment_Year'].apply(lambda x: x - min_year)

In [20]:
combi_df['Item_Weight'] = combi_df['Item_Weight'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Item_Visibility'] = combi_df['Item_Visibility'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Item_MRP'] = combi_df['Item_MRP'].apply(lambda x: 0 if pd.isna(x) else x )
combi_df['Outlet_Establisted_Years'] = combi_df['Outlet_Establisted_Years'].apply(lambda x: 0 if pd.isna(x) else x )

In [21]:
# combi_df.head()

# Preprocessing with labels

In [22]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
le.fit(combi_df['Item_Fat_Content_Fixed'])

print(le.classes_)

combi_df['Item_Fat_Content_Fixed'] = le.transform(combi_df['Item_Fat_Content_Fixed'])

['Low Fat' 'Regular']

/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/amit/anaconda3/envs/tf/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [23]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Item_Type'])

print(le.classes_)

combi_df['Item_Type'] = le.transform(combi_df['Item_Type'])

['Baking Goods' 'Breads' 'Breakfast' 'Canned' 'Dairy' 'Frozen Foods'
 'Fruits and Vegetables' 'Hard Drinks' 'Health and Hygiene' 'Household'
 'Meat' 'Others' 'Seafood' 'Snack Foods' 'Soft Drinks' 'Starchy Foods']

In [24]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Identifier'])

print(le.classes_)

combi_df['Outlet_Identifier'] = le.transform(combi_df['Outlet_Identifier'])

['OUT010' 'OUT013' 'OUT017' 'OUT018' 'OUT019' 'OUT027' 'OUT035' 'OUT045'
 'OUT046' 'OUT049']

In [25]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Size_Fixed'])

print(le.classes_)

combi_df['Outlet_Size_Fixed'] = le.transform(combi_df['Outlet_Size_Fixed'])

['High' 'Medium' 'Small' 'Unknown']

In [26]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Location_Type'])

print(le.classes_)

combi_df['Outlet_Location_Type'] = le.transform(combi_df['Outlet_Location_Type'])

['Tier 1' 'Tier 2' 'Tier 3']

In [27]:
le = preprocessing.LabelEncoder()
le.fit(combi_df['Outlet_Type'])

print(le.classes_)

combi_df['Outlet_Type'] = le.transform(combi_df['Outlet_Type'])

['Grocery Store' 'Supermarket Type1' 'Supermarket Type2'
 'Supermarket Type3']

In [28]:
le = preprocessing.LabelEncoder()
combi_df['Item_Identifier_Label'] = le.fit_transform(combi_df['Item_Identifier'])

In [29]:
combi_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Fat_Content_Fixed,Outlet_Size_Fixed,Outlet_Establisted_Years,Item_Identifier_Label
0,FDA15,9.30,Low Fat,0.016047,4,249.8092,9,1999,Medium,0,1,3735.1380,0,1,14,156
1,DRC01,5.92,Regular,0.019278,14,48.2692,3,2009,Medium,2,2,443.4228,1,1,24,8
2,FDN15,17.50,Low Fat,0.016760,10,141.6180,9,1999,Medium,0,1,2097.2700,0,1,14,662
3,FDX07,19.20,Regular,0.000000,6,182.0950,0,1998,NaN,2,0,732.3800,1,3,13,1121
4,NCD19,8.93,Low Fat,0.000000,9,53.8614,1,1987,High,2,1,994.7052,0,0,2,1297

# One hot encode

In [30]:
from scipy import sparse
hot_encoded = None

In [31]:
hot_encoded = np.array(combi_df['Item_Fat_Content_Fixed']).reshape(len(combi_df), 1)

In [32]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Item_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 17)

In [33]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Size_Fixed']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 21)

In [34]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Location_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 24)

In [35]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Type']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 28)

In [36]:
ohe = preprocessing.OneHotEncoder()
out = ohe.fit_transform(np.array(combi_df['Outlet_Identifier']).reshape(-1, 1))
hot_encoded = sparse.hstack((hot_encoded, out))
hot_encoded.shape

(14204, 38)

# Embedding layer

In [37]:
# TODO: Add later
from keras.models import *
from keras.layers import *

num_items = len(combi_df["Item_Identifier"].unique()) + 1
EMBEDDING_DIM = 5



# TODO: Try later
# model = Sequential()
# model.add(Embedding(num_items, EMBEDDING_DIM, input_length=1))
# model.add(Flatten())
# model.add(Concatenate())
# model.summary()

In [38]:
# len(combi_df["Item_Identifier"].unique())

# Prepare full data

In [39]:
embed_X = np.array(combi_df["Item_Identifier_Label"])

In [40]:
combi_X = np.column_stack((combi_df["Item_Weight"], combi_df["Item_Visibility"],
                          combi_df["Item_MRP"], combi_df["Outlet_Establisted_Years"],
                          hot_encoded.toarray()))
combi_X.shape

(14204, 42)

In [41]:
train_X = combi_X[:len(train_df),:]
train_X.shape

(8523, 42)

In [42]:
test_X = combi_X[len(train_df):,:]
test_X.shape

(5681, 42)

In [43]:
len(test_df)

5681

In [44]:
train_Y = np.array(train_df["Item_Outlet_Sales"]).reshape(train_X.shape[0], 1)
train_Y.shape

(8523, 1)

In [45]:
train_embed_X = embed_X[:len(train_df)].reshape(-1, 1)

In [46]:
train_embed_X.shape

(8523, 1)

In [47]:
test_embed_X = embed_X[len(train_df):].reshape(-1, 1)

In [48]:
test_embed_X.shape

(5681, 1)

# Create Model

In [90]:
from keras.models import Sequential
from keras.layers import Dense, Activation, BatchNormalization, Dropout, Input, Concatenate

item_id_input = Input(shape=(1,))
item_id_embed = Flatten()(Embedding(num_items, EMBEDDING_DIM)(item_id_input))
item_id_embed = Dropout(0.5)(item_id_embed)

oh_input = Input(shape=(42,))
oh_encoded = oh_input
# oh_encoded = BatchNormalization()(oh_encoded)

x = concatenate([oh_encoded, item_id_embed])
x = Dense(128)(x)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(0.5)(x)

x = Dense(32)(x)
x = BatchNormalization()(x)
x = Activation('relu')(x)
x = Dropout(0.5)(x)

out = Dense(1)(x)

model = Model(inputs=[item_id_input, oh_input], outputs=out)

model.summary()

# *******************
# *******************
# *******************

# Old model without embedding
# model = Sequential()
# # model.add(BatchNormalization(input_shape=(42,)))

# other_input = Input(shape=(42, ))

# model.add(Concatenate([other_input, item_id_embedding_layer]))

# model.add(Dense(128, input_dim=42))
# model.add(Activation('relu'))
# model.add(BatchNormalization())

# model.add(Dense(128))
# model.add(Activation('relu'))
# model.add(Dropout(0.5))
# # model.add(BatchNormalization())

# # model.add(Dense(128))
# # model.add(Activation('relu'))
# # model.add(Dropout(0.5))
# # model.add(BatchNormalization())

# # model.add(Dense(64))
# # model.add(Activation('relu'))
# # model.add(Dropout(0.5))
# # model.add(BatchNormalization())

# # model.add(Dense(42, input_dim=42, activation='relu'))

# model.add(Dense(1))

# model.summary()

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_9 (InputLayer)            (None, 1)            0
__________________________________________________________________________________________________
embedding_5 (Embedding)         (None, 1, 5)         7800        input_9[0][0]
__________________________________________________________________________________________________
flatten_5 (Flatten)             (None, 5)            0           embedding_5[0][0]
__________________________________________________________________________________________________
input_10 (InputLayer)           (None, 42)           0
__________________________________________________________________________________________________
dropout_13 (Dropout)            (None, 5)            0           flatten_5[0][0]
__________________________________________________________________________________________________
concatenate_5 (Concatenate)     (None, 47)           0           input_10[0][0]
                                                                 dropout_13[0][0]
__________________________________________________________________________________________________
dense_13 (Dense)                (None, 128)          6144        concatenate_5[0][0]
__________________________________________________________________________________________________
batch_normalization_9 (BatchNor (None, 128)          512         dense_13[0][0]
__________________________________________________________________________________________________
activation_9 (Activation)       (None, 128)          0           batch_normalization_9[0][0]
__________________________________________________________________________________________________
dropout_14 (Dropout)            (None, 128)          0           activation_9[0][0]
__________________________________________________________________________________________________
dense_14 (Dense)                (None, 32)           4128        dropout_14[0][0]
__________________________________________________________________________________________________
batch_normalization_10 (BatchNo (None, 32)           128         dense_14[0][0]
__________________________________________________________________________________________________
activation_10 (Activation)      (None, 32)           0           batch_normalization_10[0][0]
__________________________________________________________________________________________________
dropout_15 (Dropout)            (None, 32)           0           activation_10[0][0]
__________________________________________________________________________________________________
dense_15 (Dense)                (None, 1)            33          dropout_15[0][0]
==================================================================================================
Total params: 18,745
Trainable params: 18,425
Non-trainable params: 320
__________________________________________________________________________________________________

In [91]:
model.compile(optimizer='nadam', loss='mse')

In [93]:
model.fit([train_embed_X, train_X], train_Y, validation_split=0.1, epochs=40)

Train on 7670 samples, validate on 853 samples
Epoch 1/40
7670/7670 [==============================] - 1s 138us/step - loss: 5670123.8005 - val_loss: 6744772.0293
Epoch 2/40
7670/7670 [==============================] - 1s 139us/step - loss: 4923315.8761 - val_loss: 4654586.1624
Epoch 3/40
7670/7670 [==============================] - 1s 136us/step - loss: 4181134.2308 - val_loss: 4817220.6477
Epoch 4/40
7670/7670 [==============================] - 1s 165us/step - loss: 3515632.8446 - val_loss: 4120705.8839
Epoch 5/40
7670/7670 [==============================] - 1s 166us/step - loss: 2958044.7141 - val_loss: 3655430.7984
Epoch 6/40
7670/7670 [==============================] - 1s 155us/step - loss: 2443926.3272 - val_loss: 1981276.0596
Epoch 7/40
7670/7670 [==============================] - 1s 137us/step - loss: 2064095.5780 - val_loss: 1942670.4028
Epoch 8/40
7670/7670 [==============================] - 1s 155us/step - loss: 1820413.6694 - val_loss: 1811814.2430
Epoch 9/40
7670/7670 [==============================] - 1s 164us/step - loss: 1602799.3234 - val_loss: 1650514.8765
Epoch 10/40
7670/7670 [==============================] - 1s 153us/step - loss: 1484651.3866 - val_loss: 1728025.8677
Epoch 11/40
7670/7670 [==============================] - 1s 162us/step - loss: 1403648.9451 - val_loss: 1744165.8394
Epoch 12/40
7670/7670 [==============================] - 1s 164us/step - loss: 1347143.3387 - val_loss: 1299181.4182
Epoch 13/40
7670/7670 [==============================] - 1s 137us/step - loss: 1327710.3036 - val_loss: 1817506.3864
Epoch 14/40
7670/7670 [==============================] - 1s 135us/step - loss: 1300834.5908 - val_loss: 1327460.2302
Epoch 15/40
7670/7670 [==============================] - 1s 143us/step - loss: 1260056.2693 - val_loss: 1300634.5245
Epoch 16/40
7670/7670 [==============================] - 1s 170us/step - loss: 1332127.7865 - val_loss: 1356256.9473
Epoch 17/40
7670/7670 [==============================] - 1s 171us/step - loss: 1274870.7831 - val_loss: 1286883.4272
Epoch 18/40
7670/7670 [==============================] - 1s 147us/step - loss: 1302032.4729 - val_loss: 1468082.5887
Epoch 19/40
7670/7670 [==============================] - 1s 144us/step - loss: 1328288.2252 - val_loss: 1243040.3202
Epoch 20/40
7670/7670 [==============================] - 1s 170us/step - loss: 1321080.1981 - val_loss: 1327521.1605
Epoch 21/40
7670/7670 [==============================] - 1s 172us/step - loss: 1287144.0373 - val_loss: 1277181.5596
Epoch 22/40
7670/7670 [==============================] - 1s 138us/step - loss: 1318771.7536 - val_loss: 1341046.0416
Epoch 23/40
7670/7670 [==============================] - 1s 138us/step - loss: 1279666.6005 - val_loss: 1324570.6706
Epoch 24/40
7670/7670 [==============================] - 1s 170us/step - loss: 1295570.1118 - val_loss: 1319872.1703
Epoch 25/40
7670/7670 [==============================] - 1s 168us/step - loss: 1319974.3308 - val_loss: 1301313.2101
Epoch 26/40
7670/7670 [==============================] - 1s 145us/step - loss: 1296844.0671 - val_loss: 1273765.8522
Epoch 27/40
7670/7670 [==============================] - 1s 173us/step - loss: 1323953.3156 - val_loss: 1356049.9682
Epoch 28/40
7670/7670 [==============================] - 1s 151us/step - loss: 1298414.9563 - val_loss: 1359741.0004
Epoch 29/40
7670/7670 [==============================] - 1s 150us/step - loss: 1269196.5760 - val_loss: 1356523.3370
Epoch 30/40
7670/7670 [==============================] - 1s 169us/step - loss: 1276240.2804 - val_loss: 1288431.5884
Epoch 31/40
7670/7670 [==============================] - 1s 175us/step - loss: 1274718.0525 - val_loss: 1408708.1161
Epoch 32/40
7670/7670 [==============================] - 1s 144us/step - loss: 1276727.0124 - val_loss: 1445967.6703
Epoch 33/40
7670/7670 [==============================] - 1s 159us/step - loss: 1278825.7665 - val_loss: 1385792.7066
Epoch 34/40
7670/7670 [==============================] - 1s 170us/step - loss: 1294074.2931 - val_loss: 1351439.6646
Epoch 35/40
7670/7670 [==============================] - 1s 162us/step - loss: 1258094.6609 - val_loss: 1445100.2229
Epoch 36/40
7670/7670 [==============================] - 1s 157us/step - loss: 1292609.6277 - val_loss: 1333560.5204
Epoch 37/40
7670/7670 [==============================] - 1s 157us/step - loss: 1263610.0939 - val_loss: 1335041.5394
Epoch 38/40
7670/7670 [==============================] - 1s 139us/step - loss: 1264259.5510 - val_loss: 1371902.8568
Epoch 39/40
7670/7670 [==============================] - 1s 142us/step - loss: 1353473.0705 - val_loss: 1317984.0700
Epoch 40/40
7670/7670 [==============================] - 1s 177us/step - loss: 1280163.4249 - val_loss: 1283519.0161

In [83]:
model.fit([train_embed_X, train_X], train_Y, validation_split=0, epochs=2)

Epoch 1/2
8523/8523 [==============================] - 1s 125us/step - loss: 1226880.3891
Epoch 2/2
8523/8523 [==============================] - 1s 123us/step - loss: 1229109.8688

In [84]:
model.evaluate([train_embed_X, train_X], train_Y)

8523/8523 [==============================] - 0s 34us/step

923380.9036174176

In [85]:
model.get_weights()[0]

array([[-0.02599319,  0.06296055,  0.08782281, -0.07144124,  0.0688573 ],
       [-0.04391993, -0.02072962, -0.09015309, -0.06374379, -0.00889654],
       [-0.03780666, -0.09938578,  0.024064  , -0.03852018,  0.00382039],
       ...,
       [ 0.1005355 ,  0.20287605,  0.09673341,  0.05397262,  0.01131784],
       [ 0.22302032,  0.12486422,  0.21254511,  0.1605973 ,  0.24637839],
       [ 0.02756382,  0.0060979 ,  0.03690319, -0.03502513, -0.00059756]],
      dtype=float32)

In [86]:
test_Y = model.predict([test_embed_X, test_X])

In [87]:
test_df["Item_Outlet_Sales"] = test_Y
test_Y.shape

(5681, 1)

In [88]:
test_Y[:10]

array([[1650.8738 ],
       [1611.1123 ],
       [ 667.8396 ],
       [2376.9626 ],
       [6300.776  ],
       [1986.8978 ],
       [ 429.26083],
       [2112.6912 ],
       [1449.4702 ],
       [2433.9666 ]], dtype=float32)

In [89]:
submission = test_df[['Item_Identifier','Outlet_Identifier','Item_Outlet_Sales']]
submission.to_csv('submission.csv', index=False) # writing data to a CSV file