In [105]:
import pandas as pd
import tensorflow as tf
import keras as keras

In [106]:
train_df = pd.read_csv("../../data/tweet/train.csv")

In [107]:
# train_df = train_df.iloc[:100]
train_df.size

95886

In [108]:
train_df["tweet"][7]

"the next school year is the year for exams.ð\x9f\x98¯ can't think about that ð\x9f\x98\xad #school #exams   #hate #imagine #actorslife #revolutionschool #girl"

In [109]:
train_df.dtypes

id        int64
label     int64
tweet    object
dtype: object

In [110]:
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [111]:
# texts_to_sequences
from keras.preprocessing.text import *
from keras.preprocessing.sequence import *
t = Tokenizer()
t.fit_on_texts(train_df['tweet'])
t.word_counts
train_X = t.texts_to_sequences(train_df['tweet'])
train_X = pad_sequences(train_X, maxlen=32, padding="post")

In [112]:
train_X.size

1022784

In [113]:
train_Y = train_df["label"]
train_Y.size

31962

In [114]:
vocab_size = 10000
max_in_len = 32
embed_size = 64

hidden_size = 100

from keras.models import *
from keras.layers import *
from keras.optimizers import *
model = Sequential()
model.add(Embedding(vocab_size, embed_size, input_length=max_in_len))
# model.add(Dense(64, activation="relu"))
# model.add(Dense(1, activation="relu"))
# model.add(LSTM(hidden_size, return_sequences=True))
model.add(LSTM(hidden_size))
model.add(Dropout(0.5))
model.add(Dense(1))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_29 (Embedding)     (None, 32, 64)            640000
_________________________________________________________________
lstm_22 (LSTM)               (None, 100)               66000
_________________________________________________________________
dropout_11 (Dropout)         (None, 100)               0
_________________________________________________________________
dense_28 (Dense)             (None, 1)                 101
=================================================================
Total params: 706,101
Trainable params: 706,101
Non-trainable params: 0
_________________________________________________________________

In [115]:
opt = SGD(lr=0.01)
model.compile(optimizer="nadam",
              loss='binary_crossentropy', metrics=['accuracy'])

In [116]:
model.fit(train_X, train_Y)

Epoch 1/1
31962/31962 [==============================] - 41s 1ms/step - loss: 1.1306 - acc: 0.9298